.oz-select {
  appearance: none; /* estándar */
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none;

  font-size: 7pt;
  background-color: #121212;
  border-color: #5f5f5f;
  color: #47a1e5;
}

.oz-select:focus {
  box-shadow: none;
  border-color: #5f5f5f;
}
