.text-area::placeholder {
  opacity: 0.4;
}

.text-area {
  height: 100px;
  resize: none;
}

.from-text {
  background-color: #121212;
  border-color: #121212;
  color: #ffffff;
}

.from-text:focus {
  background-color: #121212;
  border-color: #121212;
  box-shadow: none;
  color: #ffffff;
}

.from-text::placeholder {
  color: #aca9a9;
}

.to-text {
  background: #e9e6e6ff;
  background-color: #303134;
  box-shadow: none;
  color: #ffffff;
  border: none;
}

.to-text:focus {
  background: #e9e6e6ff;
  background-color: #1e1e1e;
  color: #ffffff;
}

.to-text:disabled {
  background: #e9e6e6ff;
  background-color: #1e1e1e;
  color: #ffffff;
}

.to-text::placeholder {
  color: #aca9a9;
}
